/* most typography styles are inheritable */

body {
  font-family: serif;
}
p {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 50px;
  word-spacing: 15px;
  letter-spacing: 3px;
  text-indent: 50px;
  text-transform: uppercase;
}
/* find out how to use downloaded fonts in CSS (use google fonts) */

/* px units  */

/* some elements have default styles e.g. h1-h6 are bolded with different font-sizes, <a> elements have color and text decoration  */
a {
  color: brown;
  font-weight: 900;
  text-decoration-color: aqua;
  text-decoration: line-through;
}
